$font1: 'Poppins', sans-serif;
.slider_bg_1{
    background-image: url('../img/banner/1.jpg');
    width: 100%;
}
.slider_bg_2{
    background-image: url('../img/banner/2.jpg');
    width: 100%;
}
.slider_area{
    .single_slider{
        height: 742px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        @media (max-width: 576px) {
            .slider_area .single_slider {
                height: 500px;
        }
        @media (max-width: 768px) {
            .slider_area .single_slider
        }
            height: 700px;
        }
        .slider_text{
            >span{
                text-transform: capitalize;
                font-size: 26px;
                color: #fff;
                font-weight: 600;
                font-family: $font2;
                display: block;
            }
            h3{
                color: #fff;
                font-family: $font1;
                font-size: 84px;
                margin-top: 6px;
                margin-bottom: 9px;
                line-height: 1.14;
             @media (max-width: 576px) {
                 .slider_area .single_slider .slider_text h3 {
               font-size: 33px;
               margin-bottom: 20px;
                 }
            }
             @media(max-width: 768px) {
                 .slider_area .single_slider .slider_text h3 {
                font-size: 55px;
                 }
            }
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: #FFFFFF;
                margin-bottom: 40px;
                margin-top: 10px;
             @media (max-width: 992px) {
                 .slider_area .single_slider .slider_text p{
                     font-size: 16px;
                 }
             }
             @media (max-width: 576px) {
                 .slider_area .single_slider .slider_text p{
                     font-size: 16px;
                 }

             }
            }
        }
    }
}

