{% extends 'dashboard.html.twig' %}

{% block title %}Modifier Activité{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Modifier l’activité</h1>

        {{ include('activite/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('app_activite_index') }}" class="btn btn-secondary mt-3">⬅ Retour</a>
    </div>
{% endblock %}
