{% extends 'dashboard.html.twig' %}

{% block title %}Nouvelle Activité{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Ajouter une nouvelle activité</h1>

        {{ include('activite/_form.html.twig') }}

        <a href="{{ path('app_activite_index') }}" class="btn btn-secondary mt-3">⬅ Retour</a>
    </div>
{% endblock %}
