{% extends 'base.html.twig' %}

{% block title %}Modifier bénévole{% endblock %}

{% block body %}
    <h1>Modifier un bénévole</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-warning mt-3">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('app_benevoles_index') }}">⬅ Retour</a>
{% endblock %}
