{% extends 'base.html.twig' %}

{% block title %}Ajouter un bénévole{% endblock %}

{% block body %}
    <h1>Ajouter un bénévole</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success mt-3">Ajouter</button>
    {{ form_end(form) }}

    <a href="{{ path('app_benevoles_index') }}">⬅ Retour</a>
{% endblock %}
