{% extends 'base.html.twig' %}
{% block title %}{{ projet.name }}{% endblock %}
{% block body %}
    <br>
<h1>Donations pour le projet: {{ projet.name }}</h1>

{% if donations is empty %}
    <p>Aucune donation pour ce projet.</p>
{% else %}
    <table class="table-borderless">
        <thead>
        <tr>
            <th>Name</th>
            <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        {% set totalAmount = 0 %}
        {% for donation in donations %}
            <tr>
                <td>Firas Abdeljaouad</td>
                <td>$ {{ donation.amount }}</td>

            </tr>
            {% set totalAmount = totalAmount + donation.amount %}
        {% endfor %}
        <tr>
            <td><strong>Total: </strong></td>
            <td>$ {{ totalAmount }}</td>
        </tr>
        </tbody>
    </table>
{% endif %}
{% endblock %}
